
			body
			{
				position:absolute;
				top:0;
				bottom:0;
				padding:0px;
				margin:0px;
				height:100%;
				width:100%;
				background:#ddd;
			}
			div#content
			{
				width:75%;
				height:100%;
				margin:auto;
				padding:10px;
				background:#ccc;
				text-align:center;
				border-right:2px 
			}
			div#headerDiv
			{
				font-size:30pt;
				font-weight:bold;
				width:100%;
				text-align:left;
				margin-left:3em;
			}
			div#statusDiv
			{
				width:100%;
			}
			div#logoutDiv
			{
				float:right;
				margin-right:2em;
			}
			div#gameDiv
			{
				width:100%;
				margin:auto;
				display:inline;
			}
			div#barterDiv
			{
				width:100%;
				margin:auto;
				display:none;
			}
			div#questsDiv
			{
				width:100%;
				margin:auto;
				display:none;
			}
			div#profileDiv
			{
				width:100%;
				margin:auto;
				display:none;
			}
			div.clearDiv
			{
				clear:both;
			}
			table#statusTable
			{
				float:left;
				width:80%;
				background:#bbb;
				border:2px solid #999;
			}
			table#navBar
			{
				width:100%;
				text-align:center;
				font-weight:bold;
				font-family:sans-serif;
				font-size:16pt;
			}
			a.unstyledLink
			{
				text-decoration:none; 
				color:black;
			}
